body {
    margin: 0;
    font-weight: bold;
    color: black;
}
button {
    background-color: 10B981;
    border:none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
h1 {
    font-weight: bold;
}
.box {
    background-color: grey;
    width: 300px;
    height: 40px;
    border-radius: 12px;
}